.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5%;
    
    
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
}

@media screen and (min-width: 2100px){
    .header{
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (max-width: 1024px){
    .header-menu{
        width: 240px;
    }
}



