@import "../../scss/mixins.scss";

.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  margin-bottom: 4%;
}

@media screen and (max-width: $tablet) {
  .wrapper {
    display: block;
  }
}
